<img src="{{ site.github.url }}/assets/img/work/proj-2/img-1.jpg" alt="Apollo">

<p>Featured: <a href="http://freebiesbug.com/code-stuff/apollo-one-page-html-template-photographers/" target="_blank">freebiesbug.com</a></p>

<p>Apollo, is a minimal, thoughtfully designed single page website template, and serves as the perfect showcase for a professional photographer. The design was provided by the talented designer, Jakub Kowalczyk. Apollo, is grid framework independent, and fully responsive. Download available on <a href="https://github.com/BuckyMaler/apollo" target="_blank">GitHub</a>.</p>

<img src="{{ site.github.url }}/assets/img/work/proj-2/img-2.jpg" alt="Usability">

<p>The template was developed with usability at its forefront. The Jade offers simple readability, and the Sass is modular and well organized.</p>

<img src="{{ site.github.url }}/assets/img/work/proj-2/img-3.jpg" alt="Carousel">

<p>Finally, the template features two variety of carousel for displaying work.</p>

<p>Built With: Jade, Sass, jQuery</p>

<a href="http://buckymaler.com/apollo" class="work-btn" target="_blank">View Work</a>
