<img src="{{ site.github.url }}/assets/img/work/proj-4/img-1.jpg" alt="Simply2do">

<p>Simply2do, is a task manager. The front-end was built with React and Backbone, and the back-end was written in NodeJS. User and task data is stored in MongoDB. Tasks can be added, removed, and marked as complete. In addition to that, tasks can be filtered by completion status. Source code available on <a href="https://github.com/BuckyMaler/simply2do" target="_blank">GitHub</a>.</p>

<img src="{{ site.github.url }}/assets/img/work/proj-4/img-2.jpg" alt="Filter Tasks">

<p>Built With: React, Backbone, NodeJS, MongoDB</p>

<a href="http://simply2do.herokuapp.com" class="work-btn" target="_blank">View Work</a>
