<img src="{{ site.github.url }}/assets/img/work/proj-5/img-1.jpg" alt="Dribbb">

<p>Retrieved data via the Dribbble API formatted into HTML. Dribbb, includes a full-width list view and a project view. The JavaScript was written in ES6, transpiled with Babel, and polyfilled. The JavaScript adheres to MVC conventions with Backbone serving as Model and Controller, and React handling View. Source code available on <a href="https://github.com/BuckyMaler/dribbb-react" target="_blank">GitHub</a>.</p>

<img src="{{ site.github.url }}/assets/img/work/proj-5/img-2.jpg" alt="Dribbb Project">

<p>Built With: React, Backbone, Sass</p>

<a href="http://dribbb-react.herokuapp.com" class="work-btn" target="_blank">View Work</a>
